html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

body::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url(rasmlar/orman.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    filter: opacity(70%);
    z-index: -1;
}

/*-----------------------------------------------*/

.box {
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    width: 70%;
}

.box > div {
    width: 49.5%;
    background: rgba(255, 255, 255, 0.485);
    border-radius: 10px;
    /* box-sizing: border-box; */
}

/*-----------------------------*/

.forma {
    display: flex;
    flex-flow: column;
    width: 65%;
    height: 100%;
    margin: 0 auto;
    box-sizing: border-box;
    padding: 20px 0;
}

.forma > h2 {
    font-size: 2rem;
    text-align: center;
    margin: 70px 0;
}

.forma > p {
    font-family: sans-serif;
    margin: 10px 20px;
}

.forma > input {
    height: 30px;
    border: 1px solid;
    border-radius: 15px;
    box-sizing: border-box;
    padding: 0 10px;
    margin-bottom: 30px;
}

.forma > button {
    width: 200px;
    height: 30px;
    border-radius: 5px;
    margin: 20px auto;
    margin-bottom: 0;
    font-size: 1rem;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}

.forma > button > a {
    display: inline-block;
    width: 100%;
    text-decoration: none;
    font-size: 1.15rem;
    color: black;
}

.forma > button:hover {
    background: darkgreen;
    color: white;
    box-shadow: 2px 2px 4px rgb(185, 185, 185), -2px -2px 4px rgb(185, 185, 185);
    transform: scale(1.05);
}

.forma > p:last-child {
    text-align: center;
}